amqp==2.2.2
anyjson==0.3.3
awscli==1.14.16
backports-abc==0.5
backports.functools-lru-cache==1.4
billiard==3.5.0.3
botocore==1.8.20
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.7
cycler==0.10.0
dj-database-url==0.4.2
Django==1.8.5
django-celery-results==1.0.1
django-extensions==1.9.8
docutils==0.14
futures==3.2.0
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
kombu==4.1.0
matplotlib==2.1.1
mws==0.7.4
MySQL-python==1.2.5
numpy==1.14.0
pandas==0.22.0
psycopg2==2.7.3.2
PyAlgoTrade==0.18
pyasn1==0.4.2
pyotp==2.2.6
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
recordtype==1.1
redis==2.10.3
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.12
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==4.5.3
typing==3.6.2
urllib3==1.22
urlparse2==1.1.1
urlparse4==0.1.3
vine==1.1.4
websocket==0.2.1
whitenoise==3.3.1
ws4py==0.4.3
